{% extends "main_layout.html" %}
{% block content %}
<h1> INI ADALAH HALAMAN ABOUT ME</h1>
<br>
<h5>Identitas Diri</h5>
<p>Nama : Muhammad Rafi Hidayat</p>
<p>TTL : Bengkulu, 07 Juni 2006</p>
<p>Tempat Tinggal : Perumahan Puteraco Puri Indah Blok C6 No.17, Cikeruh, Kec. Jatinangor, Kabupaten Sumedang, Jawa Barat</p>
<p>No Telpon : +62 877-2047-3179</p>
<p>Email : muhammadrafih977@gmail.com</p>
<br>
<h5>Perkenalan Singkat :</h5>
<p>Saya memiliki banyak pengalaman organisasi mulai dari organisasi sekolah, organisasi kampus, serta kepanitiaan di dalam kampus. Tertarik dalam banyak hal membuat saya memiliki banyak pengalaman di berbagai hal. pengalaman yang saya miliki di bidang leadership, cukup membuat saya percaya diri di dalam suatu tim.</p>
<br>
<h5>Pengalaman Organisasi :</h5>
<ol>
    <li>Wakil Sekretaris MPK SMAIT Nururrahman</li>
    <li>Ketua MPK SMAIT Nururrahman</li>
    <li>Staff Biro PIO BE HMTE</li>
    <LI>Anggota Aktif Palawa Unpad</LI>
</ol>
<br>
<h5>Ketertarikan :</h5>
<ol>
    <li>Music</li>
    <li>Film</li>
    <li>Podcast</li>
    <li>Wall Climbing</li>
</ol>



{% endblock %}