{% extends "main_layout.html" %}
{% block content %}
<h1>INI ADALAH HALAMAN PROJECT</h1>
<h5>Project saya:</h5>
<p>Count Master hadir sebagai permainan edukasi interaktif yang dirancang untuk meningkatkan 
    keterampilan aritmatika. Dengan menggabungkan unsur edukasi dan hiburan, permainan ini bertujuan 
    memberikan pengalaman belajar yang menyenangkan sekaligus bermanfaat. Aplikasi ini dilengkapi fitur-fitur 
    menarik seperti soal matematika acak, mode waktu (timer), serta papan skor (leaderboard) yang mendorong 
    kompetisi sehat di antara pengguna. Melalui pendekatan inovatif ini, Count Master diharapkan dapat menjadi 
    alat bantu pembelajaran matematika yang efektif bagi semua kalangan, baik pelajar maupun orang dewasa.</p>
<img width='300px' src="{{ url_for('static',filename='images/tubes1.jpg') }}" alt="Foto Tubes">
<img width='300px' src="{{ url_for('static',filename='images/tubes2.jpg') }}" alt="Foto Tubes">
{% endblock %}